In [1]:
import pandas as pd

In [4]:
symbols = chr(36)+chr(162)+chr(163)+chr(165)+chr(8364)+chr(164)
symbols

'$¢£¥€¤'

In [6]:
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [7]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [ ]:
# 记录经纬度
lax_coordinates = (33,-118)

# 元组拆包赋值
city, year, pop, chg, area = ('Tokyo', '2003', '32450', '0.66', '8014')

# 元组拆包赋值

In [3]:
# 使用 * 运算符可以将一个可迭代对象拆开，作为函数的参数
print(divmod(20,8))

t = (20, 8)
print(divmod(*t))

quotient, remainder = divmod(*t )
print(quotient, remainder)

(2, 4)
(2, 4)
2 4

In [5]:
# 使用 os.path.split() 可以获取文件路径以及最后一个文件名组成的元组
import os 
_, filename = os.path.split('/home/Gowther/python_work/idrsa.pub')
print(filename)

idrsa.pub

In [11]:
# 使用 *arg 来获取不确定数量的参数
a, b, *rest = range(5)
print(a,b,rest)

a, b,*rest = range(2)
print(a, b, rest)

a, *rest, c, d = range(5)
print(a, rest, c, d)

0 1 [2, 3, 4]
0 1 []
0 [1, 2] 3 4

In [17]:
## 元组嵌套拆包
metra_areas = [
    ('tokyo','JP',36.933,(35.689722,139.691667)),
    ('Delhi NCR','IN',21.935,(28.612889,77.208889)),
    ('Mexico ,City','MX',20.142,(19.433333,-99.133333)),
    ('New York-Newark','US',20.104,(40.808611,-74.020386)),
    ('Sao Paulo','BR',19.649,(-23.547778,-46.635833))
]
print('{:15} | {:^9} | {:^9}'.format('','lat','long.'))
fmt = '{:15} | {:^9.4f} | {:^9.4f}'
for name, cc, pop, (latitude,longitude) in metra_areas:
    if longitude <= 0:
        print(fmt.format(name,latitude,longitude))

                |    lat    |   long.
Mexico ,City    |  19.4333  | -99.1333
New York-Newark |  40.8086  | -74.0204
Sao Paulo       | -23.5478  | -46.6358

In [18]:
text = '123456789'
print('{:5}'.format(text))

123456789

In [22]:
# 使用 collection.nametuple 建立一个具名元组
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo','JP',36.933,(35.689    782,139.691667))

print(tokyo)
print(tokyo.population)
print(tokyo[0])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689782, 139.691667))
36.933
Tokyo